# Archivo de configuración con datos sensibles
config.h
dbBackups/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Environment variables
.env

# Arduino
*.bin
*.elf
*.hex

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent